<div class="flex flex-col h-full">

  <app-products-filters
    [selectedCount]="selectedIds().size"
    [statusFilter]="statusFilter()"
    [availabilityFilter]="availabilityFilter()"
    [stockFilter]="stockFilter()"
    (searchChange)="onSearch($event)"
    (statusChange)="onStatusChange($event)"
    (availabilityChange)="onAvailabilityChange($event)"
    (stockChange)="onStockChange($event)"
  />

  <div class="flex-1 overflow-auto">
    <app-products-table
      [products]="products()"
      [isLoading]="isLoading()"
      [selectedIds]="selectedIds()"
      (selectionChange)="onSelectionChange($event)"
    />
  </div>

  <app-products-pagination
    [page]="page()"
    [totalPages]="totalPages()"
    [totalElems]="totalElems()"
    [pageNumbers]="pageNumbers()"
    (pageChange)="setPage($event)"
  />

</div>
